html,body{
    height: 100%;
    margin: 0;
}

.family-container{
    min-height: 100vh;
    margin-top: auto;
    width: 100%;
    padding: 20px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.family-profiles-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    box-sizing: border-box;
    flex-direction: column;
    margin-bottom: 20px;
}

.family-data{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    box-sizing: border-box;
    min-height: 100vh;
    padding-bottom: 20px;
}

.family-data h3 {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    color: #FFF;
}

/* .family-data {
    width: 100%;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
} */

.profile-stats {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 800px;
}


.quiz-box, .pie-chart {
    flex: 1 1 350px;
    background-color: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 12px;
    box-sizing: border-box;
    text-align: center;
}

.button-center{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 0 auto;
    padding: 20px;
}

.family-data canvas {
    width: 400px !important;
    height: 400px !important;
    display: block;
    margin: 20px 0;
}

canvas {
    width: 100% !important;
    max-width: 500px;
    height: 100% !important;
}

.family-chart-container {
    position: relative;
    width: 400px;
    height: 400px;
    margin-bottom: 50px;
    margin-top: -30px;
}