*{
  --dark-grey: #1D3037;
  --black: #141F23;
  --light-grey: #59646A;
  --light-purple: #cb6ce6;
  --darker-purple: #7d3492;
}

@media (prefers-color-scheme: light) {

}

/*add media for multiple screen sizes (about 4 should cover everything) */